.titleScreen{
	margin: auto;
	width: 50%;
	padding: 10px;
	align-items: center;
}

.box{
	color: #fff;
	padding: 20px;
	display: none;
	margin-top: 20px;
}
.static{ background: #ff0000; }
.dynamic{ background: #228B22; }